* {
  margin: 0px;
  padding: 0px;
}

body {
  background: rgb(190, 88, 105);
  background: -moz-linear-gradient(
    top,
    rgb(190, 88, 105) 0%,
    rgb(11, 98, 168) 76%,
    rgb(76, 69, 73) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgb(190, 88, 105) 0%,
    rgb(11, 98, 168) 76%,
    rgb(76, 69, 73) 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(190, 88, 105) 0%,
    rgb(11, 98, 168) 76%,
    rgb(76, 69, 73) 100%
  );
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

#header-text {
  font-size: 10rem;
}
